$font-reserve: serif; //запасной шрифт 
$font-main:"arial";
$font-secondary:"Inter";
$font-size-small:16px; /*размер шрифта*/
$font-size-upper-small:18px;
$font-size-medium: 20px;
//$font-size-upper-medium: 21px;
$font-size-h1: 34px;
$font-size-h2: 34px;
$font-size-h3: 21px;
$font-size-logo:24px;